[submodule "themes/hello-friend-ng.git"]
	path = themes/hello-friend-ng.git
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
